#app {
  text-align: left;
}

#header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

#title {
  margin-top: 0px;
  font-size: 1.5em;
}

#wordfind,
#homepage {
  padding-left: 20px;
  padding-right: 20px;
}

#links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: left;
}

#links li.current a {
  color: white;
  font-weight: bold;
}

#links li a {
  padding: 10px;
  color: lightGray;
  text-decoration: none;
}

#links li a:hover {
  color: white;
}

#content {
  margin-top: 20px;
  width: 100%;
}

input {
  height: 30px;
  font-size: 30px;
  width: 200px;
  padding-left: 10px;
  vertical-align: bottom;
}

button {
  margin-left: 10px;
  height: 36px;
  border-width: 1px;
  font-size: 25px;
}
