#app {
  text-align: left;
}

#header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

#title {
  margin-top: 0px;
  font-size: 1.5em;
}

#wordfind,
#homepage {
  padding-left: 20px;
  padding-right: 20px;
}

#links {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: left;
}

#links li.current a {
  color: white;
  font-weight: bold;
}

#links li a {
  padding: 10px;
  color: lightGray;
  text-decoration: none;
}

#links li a:hover {
  color: white;
}

#content {
  margin-top: 20px;
  width: 100%;
}

.card-header {
  font-weight: bold;
}

.close {
  height: 36px;
}

.card {
  margin-bottom: 15px;
}

.badge {
  margin: 5px;
  font-size: 125% !important;
}

.word-count {
  margin-left: 5px;
  font-weight: bold;
}
